@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.confirm {
  @include grid($gap: $space-4);

  &__message {
    margin: 0;
    color: $color-text;
    font-size: $font-size-sm;
    line-height: $line-height-loose;
  }
}
