@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.feedback-form {
  &__optional {
    @include grid($gap: $space-3);
    padding-top: $space-4;
    border-top: 1px solid $color-border;
  }

  &__optional-label {
    @include overline($weight: $font-weight-bold);

    margin: 0;
  }
}
